.message-container {
    margin-bottom: 15px;
}

.message-holder {
    border: 1px solid black;
    height: 300px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    word-wrap: break-word;
}

.i3chat span {
    font-size: .65em;
    padding-left: 10px;
}

.ic-message {
    font-style: italic;
    font-weight: bold;
    color: #BABABA;
}

.display-name {
    padding-right: 5px;
}

.typing-indicator {
    font-style: italic;
    color: #BABABA;
}

.message-input {
    padding-left: 15px;
    padding-right: 15px;
}

.message-input-box {
    border: 1px solid #333;
    border-right: none;
    border-top: none;
}

    .message-input-box > input {
        width: 100%;
    }

.message-input-buttons {
    border: 1px solid #333;
    border-left: none;
    border-top: none;
    text-align: right;
}

    .message-input-buttons .btn {
        border-radius: 0;
    }

.inputnostyle, .inputnostyle:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none !important;
    border-color: transparent !important;
    height: 34px;
    outline: 0;
}

.i3chat {
    max-width: 100%;
}

    .i3chat .panel-heading {
        margin: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
