<div class="message-input row">
	<div class="message-input-box col-md-8 col-sm-9 col-xs-8">
		<input id="chatInput" class="inputnostyle" ng-model="mytext" data-on-enter="sendChat()" ng-focus="setTyping(true)" ng-blur="setTyping(false)"/>
	</div>
	
	<div class="message-input-buttons col-md-4 col-sm-3 col-xs-4">
		<div class="row">
			<button type="button" class="btn btn-success col-xs-6" ng-click="sendChat()">Enviar</button>
			<button type="button" class="btn btn-danger col-xs-6" ng-click="endChat()">Salir</button>
		</div>
	</div>
</div>